.btn-lg {
    text-align: center;
    width: 110px;
    height: 110px;
    font-size: 50px;
    color: dimgray;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

br {
    line-height: 50%;
}